[submodule "LearningEngine/ThirdParty/spdlog"]
	path = LearningEngine/ThirdParty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "LearningEngine/ThirdParty/GLFW"]
	path = LearningEngine/ThirdParty/GLFW
	url = https://github.com/glfw/glfw
[submodule "LearningEngine/ThirdParty/ImGui"]
	path = LearningEngine/ThirdParty/ImGui
	url = https://github.com/ocornut/imgui
[submodule "LearningEngine/ThirdParty/glm"]
	path = LearningEngine/ThirdParty/glm
	url = https://github.com/g-truc/glm
